.me {
    margin: 0 !important;
    text-align: center !important;
}

.me li {
    list-style-type: none;
    text-align: left;
}

.me li a {
    margin-left: 15px;
}

img.no-border,
.no-border img {
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

.no-bullets li {
    list-style-type: none;
}

#logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: 90px;
    z-index: 30;
    border: none !important;
}

/* slide-deck specific below */

/*
 * Main color: #3FB36E
 * Hover color: #33965B
 */

.credits {
    display: block;
    font-size: 0.6em !important;
}

.credits,
.credits a {
    color: #fff;
}

.inverted {
    color: #3FB36E;
}

.inverted-title h1,
.inverted-title h2,
.inverted-title h3 {
    color: #fff !important;
    text-shadow: 2px 2px 2px #000;
}

.valign img {
    vertical-align: middle;
}
